---
---

@import "{{ site.theme }}";

h3>img {
    width:16px;
    height:16px;
}

.page-header {
    background-image: url(http://wow.zamimg.com/images/guide/7.2/kiljaeden.jpg) !important;
    background-size: cover;
}
